/* /Layout/FooterLayout.razor.rz.scp.css */
body[b-ebr4cln4d8] {
    margin-top: 20px;
}

.footer .footer-socila-icon a[b-ebr4cln4d8] {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: black /*#F84E77*/;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 15px;
}

    .footer .footer-socila-icon a:hover[b-ebr4cln4d8] {
        background: #f0f0f0 /*#1baaa0*/;
        color: black;
    }

.footer .footer-links[b-ebr4cln4d8] {
    margin: 0;
}

    .footer .footer-links li + li[b-ebr4cln4d8] {
        padding-top: 10px;
    }

    .footer .footer-links li a[b-ebr4cln4d8] {
        position: relative;
    }

        .footer .footer-links li a[b-ebr4cln4d8]:after {
            content: "";
            position: absolute;
            width: 0px;
            left: auto;
            right: 0;
            bottom: 0;
            height: 1px;
            transition: ease all 0.35s;
            background: #000000;
            /*#F84E77*/
        }

        .footer .footer-links li a:hover[b-ebr4cln4d8]:after {
            width: 100%;
            left: 0;
            right: auto;
        }

.footer .footer-top[b-ebr4cln4d8] {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

    .footer .footer-top h5[b-ebr4cln4d8],
    .footer .footer-top .h5[b-ebr4cln4d8] {
        position: relative;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

@media (min-width: 768px) {
    .footer .footer-top[b-ebr4cln4d8] {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .footer .footer-top[b-ebr4cln4d8] {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

.footer .footer-border-top[b-ebr4cln4d8] {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

    .footer .footer-border-top.dark[b-ebr4cln4d8] {
        border-top: 1px solid rgba(16, 16, 16, 0.1);
    }

.footer .footer-border-bottom[b-ebr4cln4d8] {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

    .footer .footer-border-bottom.dark[b-ebr4cln4d8] {
        border-bottom: 1px solid rgba(16, 16, 16, 0.1);
    }

.bg-dark-gradient[b-ebr4cln4d8] {
    /*background: linear-gradient( 180deg, black 10%, var(--bs-primary) 100%) repeat-x !important;*/
    background: linear-gradient( 180deg, #101010 50%, black 100%) repeat-x !important;
}

.bg-body-gradient[b-ebr4cln4d8] {
    background: linear-gradient( 180deg, #f0f0f0 50%, white 100%) repeat-x !important;
}

.white-link a[b-ebr4cln4d8] {
    color: rgba(0, 0, 0, 0.65);
}

a[b-ebr4cln4d8] {
    text-decoration: none
}

.avatar-lg img[b-ebr4cln4d8] {
    width: 90px;
    height: 90px;
}
